@media all and (max-width:1024px){
    .header-right{
        display: none;
    }
    .menu{
        display: block;
    }
    .top-container p {
        writing-mode: vertical-rl;
    }
    .top-container {
        display: flex;
        justify-content: center;
    }
    #top-mobile{
        display: block;
    }
    #top{
        display: none;
    }
    #top-mobile p {
        font-size: 60px;
    }
}