@media only screen and (max-width:1024px){
    .header-right{
        display: none;
    }
    #modal-btn{
        display: block;
    }
    .top-container p {
        writing-mode: vertical-rl;
    }
    .top-container {
        display: flex;
        justify-content: center;
    }
    #top-mobile{
        display: block;
        background-image: url(img/sumaho\ you\ atg.png);
        background-size: cover;
        height: 500px;
    }
    #top{
        display: none;
    }
    #top-mobile p {
        font-size: 60px;
        margin: 0 auto;
    }
    .menu i {
        padding: 5px;
    }
}